@import '../helpers/functions';
@import '../helpers/mixins';
@import '../helpers/padding-mixins';
@import '../helpers/variables';

.main_content {
  @include bottom_pad;
  @include header_pad_allowance;
  @include horizontal_pad;
  align-items: flex-start;
  border-bottom: rem(1px) solid $secondaryColour;
  flex-direction: column;

  p {
    margin-bottom: rem(16px);
  }
}
