@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.main-content {
  @include bottom-pad;
  @include header-pad-allowance;
  @include horizontal-pad;

  align-items: center;
  flex-direction: column;

  p {
    margin: to-rem(20px) 0 to-rem(30px);
  }
}
