@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.top-content {
  background-color: $light-grey;
}

.lower-content {
  .content-block {
    @include horizontal-half-pad;

    background-color: white !important;
  }

  .top-bar {
    padding: to-rem(4px) to-rem(6px);

    .btn {
      height: to-rem(8px);
      margin-right: to-rem(4px);
      width: to-rem(8px);
    }
  }
}
