@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.main-content {
  @include header-pad-allowance;

  align-items: unset;
  background-color: $fc-yellow;

  @media (width >= 1024px) {
    flex-direction: row !important;
  }

  h2 {
    color: $primary-colour;
  }

  img {
    background-color: $fc-yellow;
    border-left: to-rem(1px) solid $light-grey;
    border-right: to-rem(1px) solid $light-grey;
    margin: 0 auto;
  }

  picture {
    bottom: 0;
    margin-bottom: to-rem(15px);
    max-width: to-rem(600px);
    position: absolute;
    width: 100%;

    @media (width >= 768px) {
      margin-bottom: to-rem(20px);
    }

    img {
      border: none;
      width: 50%;
    }
  }
}

.image-block {
  align-items: center;
  flex: 1 !important;
  flex-direction: column;
  padding-bottom: 0 !important;
  position: relative;
}

.info-block {
  @include bottom-pad;

  flex-direction: column !important;

  @media (width >= 1024px) {
    order: 2 !important;
  }
}

.top-bar {
  max-width: to-rem(600px);
  padding: to-rem(4px) to-rem(6px) !important;

  .btn {
    height: to-rem(8px);
    margin-right: to-rem(4px);
    width: to-rem(8px);
  }
}
