@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.top-content {
  background-color: $light-grey;
  padding-bottom: 0;

  .single {
    @include horizontal-half-pad;
  }

  [data-limit-width] {
    width: to-rem(960px);
  }
}

.lower-content {
  .content-block {
    &:first-of-type {
      @include horizontal-half-pad;
    }

    &:last-of-type {
      background-color: $ftt-grey;
    }
  }
}
