@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.top-content {
  @include header-pad-allowance;
  @include horizontal-pad;

  flex-direction: column;
  gap: to-rem(24px);
  margin-bottom: 0;
  padding-bottom: to-rem(20px);

  @media (width >= 960px) {
    padding-bottom: to-rem(10px);
  }

  .intro {
    display: block;
    margin-bottom: 0;
    max-width: to-rem(992px);
    min-width: 0;
    width: 100%;

    .bold {
      display: block;
      font-weight: 700;
    }
  }
}

.experience-button {
  margin-top: to-rem(15px);
}

.gallery-section {
  align-items: flex-end;
  flex-direction: column;
  margin-top: to-rem(20px);
  padding: 0;

  @media (width >= 600px) {
    margin-top: 0;
  }
}

.gallery {
  background-color: $light-grey;
  padding: 0;
  width: 100%;
}
