@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.top-content {
  @include header-pad-allowance;
  @include horizontal-pad;

  flex-flow: column wrap;
  gap: to-rem(24px);
  margin-bottom: 0;

  .info-block {
    flex: 1;
    margin-bottom: to-rem(5px);
    max-width: to-rem(992px);
    width: 100%;

    .intro {
      display: block;
      font-weight: 700;
    }
  }

  @media (width >= 1280px) {
    flex-direction: row;
  }
}

.gallery {
  background-color: $light-grey;
  margin-top: to-rem(15px);
  padding: 0;
  width: 100%;
}

.gallery-section {
  align-items: flex-end;
  flex-direction: column;
  padding: 0;
}
