@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.main-content {
  @include header-pad-allowance;

  @media (width >= 1440px) {
    flex-direction: row;

    .info-block {
      order: 2 !important;
    }
  }

  .column {
    @include bottom-pad;
  }
}

.lightbox {
  pointer-events: all;
  position: relative;

  .icon {
    bottom: to-rem(15px);
    fill: white !important;
    position: absolute;
    right: to-rem(15px);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.info-block {
  flex-direction: column !important;
}
