@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.top-content {
  background-color: $refali-blue;
}

.single {
  @include half-pad;
}

#refali-logo {
  fill: white;
  max-width: to-rem(300px);
  width: 100%;

  .logo {
    animation: logo 5s ease forwards;

    @keyframes logo {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .strapline {
    animation-delay: 2s;
    opacity: 0;
  }
}

.lower-content {
  background-color: $light-grey;
}
