@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.top-content {
  background-color: $refali-blue;
}

.single {
  @include half-pad;
}

.refali-logo {
  fill: white;
  width: 100%;
}

.logo-mask {
  margin-inline: auto;
  max-width: to-rem(300px);
  position: relative;
}

.logo-base {
  opacity: 0.25;
}

.logo-reveal {
  clip-path: inset(0 100% 0 0);
  inset: 0;
  position: absolute;
}

.lower-content {
  background-color: $light-grey;
}
