@import '../helpers/functions';
@import '../helpers/mixins';
@import '../helpers/padding-mixins';
@import '../helpers/variables';

.main_content {
  @include half_bottom_pad;
  @include header_pad_allowance;
  @include horizontal_pad_0;
  flex-direction: column;

  .text_block {
    @include horizontal_pad;
    order: -1 !important;

    h2 {
      margin-bottom: 0;
    }
  }
}
