@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.main-content {
  @include header-pad-allowance;
}

.image-block {
  flex-wrap: wrap;
  padding: 0 !important;
}

.info-block {
  @include bottom-pad;

  flex-direction: column !important;
}
