@import '../helpers/functions';
@import '../helpers/mixins';
@import '../helpers/padding-mixins';
@import '../helpers/variables';

.container {
  background-color: white;
  cursor: default;
  padding: rem(30px);
  position: relative;
  text-align: left;
  width: 100%;

  h2 {
    color: $primaryColour;
    margin-bottom: rem(30px);
  }

  textarea {
    min-height: rem(70px);
    overflow: auto;
    resize: vertical;
    vertical-align: top;
  }

  input,
  textarea {
    -webkit-appearance: none;
    background-color: white;
    border: rem(1px) solid $secondaryColour;
    border-radius: 0;
    cursor: pointer;
    font-size: rem(18px);
    outline: none;
    padding: rem(7px) rem(14px) rem(5px);
    transition: all $easeInOut;
    width: 100%;

    &:focus,
    &:hover {
      border-color: $primaryColour !important;
    }

    &.error {
      border-color: $error;
    }
  }

  label {
    background-color: white;
    color: $secondaryColour;
    font-size: rem(18px);
    left: rem(10px);
    line-height: 1.25;
    padding-left: rem(5px);
    pointer-events: none;
    position: absolute;
    top: rem(-17px);
  }
}

.input_group {
  margin-bottom: rem(30px);
  position: relative;
}

.validation_error {
  bottom: rem(-18px);
  color: $error;
  font-size: rem(12px);
  font-weight: 500;
  position: absolute;
  right: 0;
  text-align: right;
  transition: all $easeInOut;
}

// Honeypot input wrapper
.agent {
  display: none;
}

#notification {
  font-weight: 500;
  margin-bottom: 0;

  &.delivered {
    color: $success;
  }

  &.undelivered {
    color: $error;
  }
}

// Close button
.close {
  position: absolute;
  right: rem(15px);
  top: rem(15px);

  .icon {
    transform: rotate(45deg);
  }
}

// reCAPTCHA text
.recaptcha_text {
  font-size: rem(15px);
  line-height: 1.25;
  margin-top: rem(30px);
}
