@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  @include horizontal-pad;

  display: none;
  flex-wrap: wrap;
  font-size: to-rem(22px);
  gap: to-rem(22px);

  @media (width >= 600px) {
    display: flex;
  }

  button {
    font-size: to-rem(22px);
    line-height: normal;
  }
}

.selected {
  color: $primary-colour !important;
}
