@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  @include horizontal-pad;

  display: none;
  font-size: to-rem(22px);
  margin: to-rem(5px) 0;

  @media (width >= 600px) {
    display: block;
  }

  button {
    font-size: to-rem(22px);
    line-height: normal;
    margin-right: to-rem(12px);

    &:last-child {
      margin-right: 0;
    }
  }
}

.selected {
  color: $primary-colour !important;
}
