@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;

  // Breakpoints
  @media (width >= 480px) {
    width: calc(100% / 2);
  }

  @media (width >= 900px) {
    width: calc(100% / 3);
  }

  @media (width >=1200px) {
    width: calc(100% / 4);
  }

  .overlay {
    @include absolute-fill-area;

    background-color: rgb(0 0 0 / 75%);
    opacity: 0;
    transition: opacity $ease-in-out;
  }

  img {
    transition: transform $ease-in-out;
  }

  .details {
    bottom: to-rem(30px);
    left: to-rem(30px);
    opacity: 0;
    position: absolute;
    right: to-rem(30px);
    transition: opacity $ease-in-out;
    visibility: hidden;

    h2 {
      color: white;
      margin-bottom: to-rem(12px);
    }

    .client {
      color: white;
      font-weight: 700;

      &:not(:last-child) {
        margin-bottom: to-rem(18px);
      }
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: to-rem(10px);
  }

  .view-tag {
    bottom: to-rem(30px);
    font-weight: 600;
    left: to-rem(30px);
    opacity: 1;
    position: absolute;
    transition: opacity $ease-in-out;
  }

  &:hover,
  &:focus-visible {
    img {
      transform: scale(1.1);
    }

    .overlay {
      opacity: 1;
    }

    .details {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }

    .view-tag {
      opacity: 0;
    }
  }
}
