@import '../helpers/functions';
@import '../helpers/mixins';
@import '../helpers/padding-mixins';
@import '../helpers/variables';

.container {
  display: none;
  font-size: rem(22px);
  margin: rem(20px) 0;

  @media screen and (min-width: 600px) {
    display: block;
  }

  button {
    font-size: rem(22px);
    line-height: normal;
    margin-right: rem(6px);

    &::after {
      content: '.';
      margin-left: rem(1px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.selected {
  color: $primaryColour !important;
}
