@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.item {
  display: block;
  fill: currentcolor;
  height: to-rem(23px);
  transition: fill $ease-in-out;
  width: auto;
}
