@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  display: inline-flex;
  gap: to-rem(36px);

  &:not(:first-child) {
    margin-top: to-rem(20px);
  }

  @media (width >= 1280px) {
    &.right-align {
      align-self: flex-end;
    }
  }
}

.button {
  align-items: center;
  border: none;
  color: $primary-colour;
  display: flex;
  font-size: to-rem(18px);
  font-weight: 700;
  gap: to-rem(10px);
  padding: to-rem(12px) 0;
  transition: color $ease-in-out;

  &:hover {
    color: $secondary-colour;
  }

  .icon {
    height: to-rem(16px);
  }
}
