@import '../helpers/functions';
@import '../helpers/mixins';
@import '../helpers/padding-mixins';
@import '../helpers/variables';

.container {
  @include horizontal_pad;
  background-color: $secondaryColour;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: right;
  }
}

.button {
  background-color: $secondaryColour;
  border: rem(1px) solid white;
  border-bottom: none;
  border-top: none;
  color: white;

  &.prev {
    border-right: none;
  }

  &.next {
    border-left: none;
  }

  &:hover {
    background-color: $primaryColour;
  }
}
