@import '../helpers/functions';
@import '../helpers/mixins';
@import '../helpers/padding-mixins';
@import '../helpers/variables';

.container {
  border-bottom: rem(1px) solid $primaryColour;
  line-height: 0;
  padding: rem(2px) rem(3px);
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: rem(3px) rem(5px);
  }
}

.btn {
  border: rem(1px) solid $primaryColour;
  border-radius: 50%;
  display: inline-block;
  height: rem(4px);
  margin-right: rem(2px);
  vertical-align: middle;
  width: rem(4px);

  @media screen and (min-width: 768px) {
    height: rem(6px);
    margin-right: rem(3px);
    width: rem(6px);
  }
}
