@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  background-color: $light-grey;
  border-top-left-radius: to-rem(3px);
  border-top-right-radius: to-rem(3px);
  line-height: 0;
  padding: to-rem(2px) to-rem(3px);
  width: 100%;

  @media (width >= 768px) {
    padding: to-rem(3px) to-rem(5px);
  }
}

.btn {
  border-radius: 50%;
  display: inline-block;
  height: to-rem(4px);
  margin-right: to-rem(2px);
  vertical-align: middle;
  width: to-rem(4px);

  &.red {
    background-color: #fd5559;
  }

  &.yellow {
    background-color: #f8c127;
  }

  &.green {
    background-color: #32bf52;
  }

  @media (width >= 768px) {
    height: to-rem(6px);
    margin-right: to-rem(3px);
    width: to-rem(6px);
  }
}
