@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  @include horizontal-pad;

  font-size: to-rem(16px);
  line-height: 1.5;
  padding-bottom: to-rem(25px);
  padding-top: to-rem(25px);
  text-align: center;
}
