@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.header {
  @include full-pad;

  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.identity-container {
  align-items: baseline;
  color: $primary-colour;
  display: inline-flex;
  font-size: to-rem(26px);
  gap: to-rem(8px);
  width: fit-content;
}

.type-it {
  font-family: $body-font-family;
  font-weight: 700;
}
