@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  @include top-pad;

  flex-direction: column;
  padding-bottom: 0;

  // Select all .columns with .container parent
  > .column {
    @include bottom-pad;

    flex: 1;
    width: 100%;

    &.image-block {
      display: flex;
      flex: 2;
    }

    &.info-block {
      display: flex;
      flex-flow: column wrap;
      gap: to-rem(24px);
      order: -1;
    }
  }
}

.summary {
  display: grid;
  gap: to-rem(24px) to-rem(40px);
}

@media (width >= 1280px) {
  .summary {
    align-items: start;
    grid-template-columns: auto minmax(0, 1fr);

    &.single-column {
      grid-template-columns: 1fr;
    }
  }
}

.width-wrapper {
  max-width: to-rem(992px);
  min-width: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media (width >= 1440px) {
  .container {
    flex-direction: row;

    .column {
      &.info-block {
        order: 2;
      }
    }
  }
}
