@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  @include top-pad;

  flex-direction: column;
  padding-bottom: 0;

  // Select all .columns with .container parent
  > .column {
    @include bottom-pad;

    flex: 1;
    width: 100%;

    &.image-block {
      display: flex;
      flex: 2;
    }

    &.info-block {
      display: flex;
      flex-flow: column wrap;
      gap: to-rem(24px);
      order: -1;

      .wrapper {
        max-width: to-rem(992px);
        width: 100%;
      }
    }
  }
}

@media (width >= 1920px) {
  .container {
    flex-direction: row;

    .column {
      &.info-block {
        order: 2;
      }
    }
  }
}

@media (width >= 1280px) {
  .container {
    > .column {
      &.info-block {
        flex-direction: row;
      }
    }
  }
}
