@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  align-items: center;
  background-color: rgb(0 0 0 / 90%);
  cursor: pointer;
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0;
  overflow-x: auto;
  padding: to-rem(10px);
  pointer-events: none;
  position: fixed;
  transition:
    opacity $reveal-ease,
    visibility 0s linear $reveal-ease;
  visibility: hidden;

  .zone {
    cursor: auto;
    max-width: to-rem(500px);
    transform: translateY(10px);
    transition: transform $reveal-ease;
    width: 100%;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
    transition:
      opacity $reveal-ease,
      visibility 0s linear 0s;
    visibility: visible;

    .zone {
      transform: translateY(0);
    }
  }
}
