@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  align-items: flex-start;
  background-color: rgb(0 0 0 / var(--background-opacity, 0.9));
  cursor: pointer;
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0;
  overflow: hidden auto;
  padding: to-rem(10px);
  pointer-events: none;
  position: fixed;
  transition:
    opacity $reveal-ease,
    visibility 0s linear $reveal-ease;
  visibility: hidden;
  z-index: 2000;

  .zone {
    cursor: auto;
    margin: auto 0;
    max-width: var(--modal-max-width, #{to-rem(500px)});
    transform: translateY(10px);
    transition: transform $reveal-ease;
    width: 100%;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
    transition:
      opacity $reveal-ease,
      visibility 0s linear 0s;
    visibility: visible;

    .zone {
      transform: translateY(0);
    }
  }
}
