@import '../helpers/functions';
@import '../helpers/mixins';
@import '../helpers/padding-mixins';
@import '../helpers/variables';

.container {
  align-items: center;
  background-color: rgba($color: black, $alpha: 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: rem(10px);
  position: fixed;
  right: 0;
  top: 0;
  transition: all $easeInOut;
  visibility: hidden;

  .zone {
    max-width: rem(500px);
    width: 100%;
  }

  &.visible {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
  }
}
