@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;
@use '../helpers/padding-mixins' as *;
@use '../helpers/variables' as *;

.container {
  @include header-pad-allowance;

  flex-wrap: nowrap;
}

.column {
  flex-basis: 100%;

  &.double {
    padding: 0;

    // 2 columns @ screens > 768px
    @media (width >= 768px) {
      flex-basis: calc(100% / 2);
    }

    // Hides 2nd banner image by default
    &:last-of-type {
      display: none;

      // Displays 2nd banner image @ screens > 768px
      @media (width >= 768px) {
        display: block;
      }
    }
  }
}
