.column {
  flex-basis: 100%;
}

@media (width >= 768px) {
  .x2 {
    flex-basis: 50%;
  }

  .x3 {
    flex-basis: 33.33%;
  }

  .x4,
  .web-page {
    flex-basis: 50%;
  }
}

@media (width >= 1200px) {
  .x4 {
    flex-basis: 25%;
  }
}

@media (width >= 1920px) {
  .web-page {
    flex-basis: 25%;
  }
}
