.column {
  flex-basis: 100%;
}

@media (width >= 768px) {
  .x2 {
    flex-basis: calc(100% / 2);
  }

  .x3 {
    flex-basis: calc(100% / 3);
  }

  .x4,
  .web-page {
    flex-basis: calc(100% / 2);
  }
}

@media (width >= 1440px) {
  .x4 {
    flex-basis: calc(100% / 4);
  }
}

@media (width >= 1920px) {
  .web-page {
    flex-basis: calc(100% / 4);
  }
}
