@use '../helpers/variables' as *;

::selection {
  background: $primary-colour;
  color: white;
}

::-moz-selection {
  background: $primary-colour;
  color: white;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  color: white;
  -webkit-tap-highlight-color: $primary-colour;
}
