@use '../helpers/variables' as *;
@use '../helpers/functions' as *;

body {
  background-color: white;
  color: $primary-colour;
  font: 400 to-rem(18px) $body-font-family;
  line-height: 1;
}

h1 {
  font: 900 to-rem(38px) $heading-font-family;
  line-height: 1.1;

  &:last-child {
    margin-bottom: 0;
  }

  @media (width >= 480px) {
    font-size: to-rem(50px);
  }
}

h2 {
  color: $secondary-colour;
  font-size: to-rem(26px);
  line-height: 1.2;
  margin-bottom: to-rem(16px);
}

p {
  font-size: to-rem(20px);
  line-height: 1.4;
  margin-bottom: to-rem(12px);

  &:last-child {
    margin-bottom: 0;
  }
}
