@use './variables' as *;
@use './functions' as *;

// Fill area within a relative element
@mixin absolute-fill-area {
  inset: 0;
  position: absolute;
}

// Button styles
@mixin buttons {
  background-color: white;
  border: to-rem(1px) solid $primary-colour;
  border-radius: to-rem(4px);
  color: $primary-colour;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: to-rem(3px) to-rem(12px) to-rem(5px);
  -webkit-tap-highlight-color: transparent;
  transition: all $ease-in-out;

  &:hover {
    background-color: $primary-colour;
    color: white;
  }

  &:focus {
    outline: none;
  }
}

// Link styles
@mixin links {
  color: $secondary-colour;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  transition: all $ease-in-out;

  &:hover {
    color: $primary-colour;
  }
}

// Animations
@mixin reveal-item($distance: 30px) {
  opacity: 0;
  transform: translateY($distance);
  transition:
    opacity $reveal-ease,
    transform $reveal-ease;
}

// Tags
@mixin tag($bgColour: $primary-colour, $textColour: white) {
  background-color: $bgColour;
  border-radius: to-rem(4px);
  color: $textColour;
  font-size: to-rem(15px);
  font-weight: 500;
  padding: to-rem(4px) to-rem(6px);
}
