@use './functions' as *;

@mixin bottom-pad {
  padding-bottom: to-rem(25px);

  @media (width >= 414px) {
    padding-bottom: to-rem(40px);
  }
}

@mixin full-pad {
  padding: to-rem(25px);

  @media (width >= 414px) {
    padding: to-rem(40px);
  }
}

@mixin half-bottom-pad {
  padding-bottom: to-rem(12.5px) !important;

  @media (width >= 414px) {
    padding-bottom: to-rem(20px) !important;
  }
}

@mixin half-pad {
  padding: to-rem(12.5px);

  @media (width >= 414px) {
    padding: to-rem(20px);
  }
}

@mixin header-pad-allowance {
  padding-top: to-rem(76px) !important;

  @media (width >= 414px) {
    padding-top: to-rem(106px) !important;
  }
}

@mixin horizontal-half-pad {
  padding-left: to-rem(12.5px);
  padding-right: to-rem(12.5px);

  @media (width >= 414px) {
    padding-left: to-rem(20px);
    padding-right: to-rem(20px);
  }
}

@mixin horizontal-pad {
  padding-left: to-rem(25px);
  padding-right: to-rem(25px);

  @media (width >= 414px) {
    padding-left: to-rem(40px);
    padding-right: to-rem(40px);
  }
}

@mixin horizontal-pad-0 {
  padding-left: 0;
  padding-right: 0;
}

@mixin top-pad {
  padding-top: to-rem(25px);

  @media (width >= 414px) {
    padding-top: to-rem(40px);
  }
}

@mixin vertical-pad-0 {
  padding-bottom: 0;
  padding-top: 0;
}
