// ********************
//      Colours
// ********************

// Main Palette
$error: #ce4257;
$lightGrey: #efefef;
$primaryColour: #282c34;
$secondaryColour: #a6acaf;
$success: #58bc82;

// Clients
$fcYellow: #fee050;
$fttGrey: #abb2c2;
$jjLightRose: #f3e1df;
$refaliBlue: #50b1ea;
$wongsLightGreen: #f3f7d9;

// ********************
//        Fonts
// ********************

$sansFamily: 'Barlow', sans-serif;
$serifFamily: 'Abril Fatface', sans-serif;

// ********************
//     Transitions
// ********************

$easeInOut: 0.25s ease-in-out 0s;
