// ********************
//      Colours
// ********************

// Main Palette
$error: #ce4257;
$light-grey: #efefef;
$primary-colour: #282c34;
$secondary-colour: #a6acaf;
$success: #58bc82;

// Clients
$fc-yellow: #fee050;
$ftt-grey: #abb2c2;
$jj-light-rose: #f3e1df;
$refali-blue: #50b1ea;
$wongs-light-green: #f3f7d9;

// ********************
//        Fonts
// ********************

$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Plus Jakarta Sans', sans-serif;

// ********************
//     Transitions
// ********************

$ease-in-out: 0.25s ease-in-out 0s;
$reveal-ease: 0.35s ease-in-out;
